/*.box {
    background-color: lightgrey;
    width: 600px;
    height: 600px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}*/

.field {
    height: 600px;
    width: 600px;
    background-color: goldenrod;
    margin-top: 50px;
    float: right
}

form {
    display: block;
}


.square {
    background: aliceblue;
}

.rectangle {
    background: tomato
    ;
}

.triangle {
    border-top: 100px solid rgb(239,252,107);
    border-left: 100px solid transparent;
}
.circle {
    background: rgb(134,43,146);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
}

body {
   background: url('http://wallpapercave.com/wp/kDBfZs5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

}

